.projects__title {
  color: #023047;
}

.project__thumbnail {
  position: relative;
  transform: translateX(40px);
}

.project:hover > .project__thumbnail {
  transform: translateX(0px);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: all 0.3s ease-out;
}
