@import url('https://fonts.googleapis.com/css2?family=Oswald&family=PT+Sans&family=Roboto&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    background-color: black;
}

.heading{
    font-family: 'Oswald', sans-serif;
}

.subheading{
    font-family: 'Roboto', sans-serif;

}

.content{
    font-family: 'PT Sans', sans-serif;
}